<h1>Prezado colaborador, cadastre seus pacientes!!</h1>

<style type="text/css">
      form { font-family: system-ui; font-size: small; }
      a { background-color: rgb(238, 93, 112); color: white; font-family: system-ui; font-size: small; border: 1px solid; border-radius: 5px; text-decoration: none; padding: 5px; }
</style>

    <form>
<p>Para manter os prontuários acessíveis e organizados realize o cadastro dos pacientes atendidos.</p>
<br>

<body>
    <a href="/cadastro">Ir para o Cadastro</a>
    </form>
</body>