<h1>Cadastro de Medicamentos</h1>

<style type="text/css">
  label {
    font-family: system-ui;
    font-size: small;
    width: 100%;
  }

  input {
    font-family: system-ui;
    border: 1px solid gray;
    padding-left: 2px;
    width:
      100%;
    background-color: #DCDCDC;
  }

  a {
    background-color: rgba(4, 94, 31,
        0.459);
    color: white;
    font-family: system-ui;
    font-size: small;
    border:
      1px solid;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
  }

  fieldset {
    font-family: system-ui;
    font-size: small;
    margin-left: 0px;
    background-color: #DCDCDC;
    border: 1px solid gray;
    padding-left: 2px;
  }

  input[type=checkbox],
  input[type=radio] {
    width: auto;
  }
</style>

<form action="/cadastromed" method="post">
  <label>
    Nome do Medicamento:
    <br />
    <input type="text" name="nomedomedicamento" maxlength="50" />
    <br />
  </label>
  <br />

  <label type="text" name="tipo">
    Tipo:
    <br />
    <fieldset>
      <div>
        <input type="checkbox" value="Analgésico" name="tipo" />
        <label for="analgesico">Analgésico</label>
      </div>

      <div>
        <input type="checkbox" value="Vitamina" name="tipo" />
        <label for="vitamina">Vitamina</label>
      </div>

      <div>
        <input type="checkbox" value="Vacina" name="tipo" />
        <label for="vacina">Vacina</label>
      </div>

      <div>
        <input type="checkbox" value="Suplemento" name="tipo" />
        <label for="suplemento">Suplemento</label>
      </div>
    </fieldset>


    <fieldset>
      <div>
        <input type="radio" value="Analgésico" name="tipo" />
        <label for="analgesico">Analgésico</label>
      </div>

      <div>
        <input type="radio" value="Vitamina" name="tipo" />
        <label for="vitamina">Vitamina</label>
      </div>

      <div>
        <input type="radio" value="Vacina" name="tipo" />
        <label for="vacina">Vacina</label>
      </div>

      <div>
        <input type="radio" value="Suplemento" name="tipo" />
        <label for="suplemento">Suplemento</label>
      </div>
    </fieldset>
  </label>
  <br />

  <label>
    Medida:
    <br />
    <input type="number" name="medida" />
    <br />
  </label>
  <br />

  <label>
    Unidade:
    <br />
    <select name="unidade" style="background-color: #DCDCDC">
      <option value="mL">mL</option>
      <option value="mg">mg</option>
    </select>
    <br />
  </label>
  <br />

  <label>
    Laboratório:
    <br />
    <input type="text" name="laboratorio" maxlength="100" />
    <br />
  </label>
  <br />

  <label>
    Email:
    <br />
    <input type="email" name="email" />
    <br />
  </label>

  <br />
  <br />

  <button type="submit">Cadastrar</button>
</form>


<a href="/">Voltar para o Início</a>
<a href="/medicamentos">Ver Medicamentos</a>