<h1>Cadastro de Pacientes</h1>

<form>
    Nome: <br />
    Idade: <br />
    Peso: <br />
    Sintoma: <br />

    Data (mas o sistema preenche sozinho - luxon)

    <br />
    <br />
    Botão cadastrar
</form>

<a href="/">Home</a>
