2<div class="container">
    <div class="texto">
        <h1>Cadastro de medicamentos</h1>

        <style>
            body {
                .container {
                    position: relative;
                    width: 100%;
                    height: 87vh;
                    background-image: url('https://i3.wp.com/blog.iclinic.com.br/wp-content/uploads/2023/01/sistema-de-controle-de-cadastro-dos-pacientes-tablet.jpg');
                    background-size: cover;
                }

                .texto {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 20px;
                    color: white;
                    text-align: center;
                }

            }
        </style>

        <form action="/cdmedicamentos" method="post">
            <label>
                Nome:
                <input name="nome" maxlength="50" />
            </label>
            <br />
            <br />
            <label>
                Tipo:

                <select name="tipo">
                    <option value="Analgésico">Analgésico</option>
                    <option value="Vitamina">Vitamina</option>
                    <option value="Vacina">Vacina</option>
                    <option value="Suplemento">Suplemento</option>
                </select>
            </label>
            <br />
            <br />
            <label>
                Medida:
                <input name="medida" />
            </label>
            <br />
            <br />
            <label>
                Unidade:
                <select name="unidade" id="unidade">
                    <option value="ml">ml</option>
                    <option value="mg">mg</option>
                </select>
            </label>
            <br />
            <br />
            Laboratório:
            <input name="laboratorio" maxlength="100" />
            </label>
            <br />
            <br />
            <label>
                E-mail:
                <input name="email" />

            </label>
            <br />
            <br />
            <button type="submit">Cadastrar</button>
            <a href="http://localhost:5000" style="appearance: auto;text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial; text-decoration: none">Voltar</a>
        </form>
    </div>
</div>