<html>
  <head>
    <title>Hospital Geral</title>
    <style type="text/css">
      header { background: #02331885; color: #fff; font-weight: bold; padding:
      15px; font-size: 2rem; }
    </style>
  </head>
  <body>
    <header>Hospital Geral</header>
    {{{body}}}
  </body>
</html>