<!DOCTYPE html>
<html>

<head>
    <title>Hospital do bem</title>
    <style type="text/css">
        header {
            background: #6fd885;
            color: #fff;
            font-weight: bold;
            padding: 15px;
            font-size: 2rem;
        }
    </style>


</head>

<body>
    <header>Hospital do Bem</header>

    {{{body}}}
</body>

</html>