<!DOCTYPE html>
<html>
    <head>
        <title>Uber Fácil</title>
        <style type="text/css">
header {
    background: #1976D2;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    font-size: 2rem;
}
        </style>
    </head>
    <body>
        <header>Uber Fácil</header>
        {{{body}}}
    </body>
</html>